@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
  color: #1e293b;
  font-family: Tahoma, "Noto Sans Thai", "Leelawadee UI", system-ui, sans-serif;
}
